<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id2"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.bkahlert.devel.nebula.Application">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.bkahlert.devel.nebula.Perspective"
            id="de.fu_berlin.imp.seqan.usability_analyzer.nebula.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.bkahlert.devel.nebula.views.WidgetsView"
            id="de.fu_berlin.imp.seqan.usability_analyzer.nebula.ui.views.WidgetsView"
            name="Widgets"
            restorable="true">
      </view>
   </extension>

</plugin>
