/*
 * Meta
 */
.timeline-meta {
    position: absolute;
    border-top: 1px solid #333;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 4px;
    z-index: 10000;
    background-color: #666;
    height: 20px;
}

.timeline-meta > div {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#aaaaaa));
    background-image: -webkit-linear-gradient(top, #dddddd, #aaaaaa);
    background-image: -moz-linear-gradient(top, #dddddd, #aaaaaa);
    background-image: -ms-linear-gradient(top, #dddddd, #aaaaaa);
    background-image: -o-linear-gradient(top, #dddddd, #aaaaaa);
    background-image: linear-gradient(top, #dddddd, #aaaaaa);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dddddd', EndColorStr='#aaaaaa');
    text-shadow: 0px 1px 1px #fff;
        padding: 2px 5px;
    z-index: 10000;
    font-weight: bold;
}

.timeline-meta .title, .timeline-meta .current-date {
    float: left;
    margin-bottom: 3em; /* makes the copyright float beneath the other meta data if not enough space is available */
}

.timeline-meta .current-date {
    margin-left: 5px;
}

.timeline-meta .copyright {
    float: right;
}

.timeline-meta .copyright a {
    border: none;
}

/*
 * Container
 */
.timeline-container {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 29px;
}

.timeline-container > img.timeline-copyright {
    display: none !important;
}

/*
 * Meridian indicating what time is in the center position
 */
html.ready .timeline-meridian {
    width: 1px;
    height: 100%;
    background: #000;
    position: absolute;
    top: 0px;
    left: 50%;
    z-index: 100;
    opacity: 0.3;
}

/*
 * Zoom control
 */
html.ready .timeline-zoom {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 100;
}

html.ready .timeline-zoom a {
    padding: 0;
}

/*
 * Band Labels
 */
.band-labels {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}

.band-labels .band-label {
    display: block;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    
    background-clip: padding-box;
    background-color: #dddddd;
    background-color: rgba(120, 120, 120, 0.7);
   
    color: #fff;
    padding: 2px 4px;
    z-index: 10000;
    font-weight: bold;
    font-size: 0.9em;
}

.band-labels :first-child {
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
}

/*
 * Band event tapes
 */
html .timeline-event-tape, html .timeline-small-event-tape, html .timeline-small-event-icon {
    overflow: visible;
}

/*
 * Band event colors
 */

html .timeline-band .timeline-ether-bg {
    background-color: #eee;
}

/*
 * Band event labels
 */
html .timeline-band .timeline-date-label {
    color: #333;
    font-weight: 700;
    font-size: 1.1em;
}
.timeline-custom-band .deviant_timezone_offset:before {
    display: block;
    content: "";
    position: absolute;
    top: 6px;
    left: -12px;
    width: 16px;
    height: 16px;
    background-image: url(flick/images/ui-icons_ffffff_256x240.png);
    background-position: 0 -144px;
}

html .timeline-band .label_timeline-highlight-data {
    color: #aaa;
}

/*
 * Band event labels
 */
html .timeline-horizontal .timeline-date-label-em {
    height: 3em;
}

/* the first band does not have a .timeline-ether-highlight layer
 * since it is the one that defines it through its viewport.
 * Since we support multiple "first" (=custom) bands we also want to
 * hide it on the other custom bands.
 */
.timeline-custom-band .timeline-ether-highlight {
    display: none;
}

html .timeline-band:nth-last-child(4) .timeline-ether-bg {
    background-color: #ccc;
}
html .timeline-band:nth-last-child(4) .timeline-date-label {
    color: #333;
}
html .timeline-band:nth-last-child(4) .label_timeline-highlight-data {
    color: #999;
}

html .timeline-band:nth-last-child(2) .timeline-ether-bg {
    background-color: #bbb;
}
html .timeline-band:nth-last-child(2) .timeline-date-label {
    color: #333;
}
html .timeline-band:nth-last-child(2) .label_timeline-highlight-data {
    color: #888;
}

/*
 * Highlight
 */
html .timeline-highlight-data {
    background-color: #4B83B3;
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

html .timeline-highlight-custom {
    background-color: #D8FF26;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
}

/*
 * Week end highlights
 */
html .timeline-ether-weekends {
    background-color: rgba(0,0,0,0.2);
    -webkit-mask-position: 0 0;
    -webkit-mask-size: 100% 100%;
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
       color-stop(0.00,  rgba(0,0,0,0)),
       color-stop(1.00,  rgba(0,0,0,1)));
}

/*
 * Hover
 * The timeline provided a method that must be called after timeline creation
 * in order to make this rules to work.
 */
.timeline-event-label.hover {
    border-bottom: 2px solid #D8FF26;
    margin-bottom: -2px;
}

.timeline-event-tape.hover {
    outline: 2px solid #D8FF26 !important;
}

/*
 * Focus
 * The timeline provided a method that must be called after timeline creation
 * in order to make this rules to work.
 */
.timeline-event-label.focus {
    border-bottom: 2px solid #4B83B3;
    margin-bottom: -2px;
}

.timeline-event-label.focus + div, /* dirty, aber gerade das leichteste; eigentlich müsste focus auf dem tape auch beim viewer.refresh hinzugefügt werden */
.timeline-event-tape.focus {
    outline: 2px solid #4B83B3 !important;
}

/*
 * Resizeable event tapes
 */
.ui-resizable-handle {
    background-color: rgba(0,0,0,0.2);
}

.ui-resizable-e {
    right: 0px;
    border-right: 1px solid #000;
}

.ui-resizable-w {
    left: 0px;
    border-left: 1px solid #000;
}

/*
 * Band Icons and Images
 */
div.timeline-event-icon-default {
}
html div.timeline-event-icon {
}
html div.timeline-event-icon img {
}

/*
 * Labels
 * Hide labels on all but the first custom band
 */
.timeline-custom-band .label_timeline-highlight-data,
.timeline-custom-band .label_timeline-highlight-custom {
    display: none;
}

#timeline-band-0 .label_timeline-highlight-data,
#timeline-band-0 .label_timeline-highlight-custom {
    display: block;
}

/*
 * Separators between custom bands
 */
.timeline > .timeline-custom-band.timeline-band-0 {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

.timeline > .timeline-custom-band {
    -webkit-box-shadow: 0px -2px 4px #888;
       -moz-box-shadow: 0px -2px 4px #888;
            box-shadow: 0px -2px 4px #888;
}

/*
 * Undefined start / end
 */

/* decorators */
.timeline-custom-band .timeline-highlight-decorator.undefined-start,
.timeline-custom-band .timeline-highlight-decorator.undefined-end {
    overflow: visible;
}
.timeline-custom-band .timeline-highlight-decorator.undefined-start:before,
.timeline-custom-band .timeline-highlight-decorator.undefined-end:after {
    display: block;
    font-size: 1px;
    color: rgba(0,0,0,0);
    content: ".";
    position: relative;
    width: 100px;
    height: 100%;
    
    background-color: #D8FF26;
    
    /*
     * masks the whole layer in the way that it becomes transparent
     */
    -webkit-mask-position: 0 0;
    -webkit-mask-size: 100% 100%;
}

.timeline-custom-band .timeline-highlight-decorator.undefined-start:before {
    margin-left: -100px;
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
       color-stop(0.00,  rgba(0,0,0,0)),
       color-stop(1.00,  rgba(0,0,0,1)));
}
.timeline-custom-band .timeline-highlight-decorator.undefined-end:after {
    margin-left: 0px;
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
       color-stop(0.00,  rgba(0,0,0,1)),
       color-stop(1.00,  rgba(0,0,0,0)));
}

/* events */
.timeline-custom-band .timeline-event-label.CodeInstance + .timeline-event-tape,
.timeline-custom-band .timeline-event-label.CodeInstance + .timeline-event-tape + .timeline-event-tape {
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
}

.timeline-custom-band .timeline-event-label.undefined-start + .timeline-event-tape:before,
.timeline-custom-band .timeline-event-label.undefined-end + .timeline-event-tape:after {
    display: block;
    font-size: 1px;
    color: rgba(0,0,0,0);
    content: ".";
    position: relative;
    width: 100px;
    height: 100%;
    margin-top: 11px;
    left: -3px;
    
    /*
     * draws black dots
     */
    background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(0, 0, 0, 1)), color-stop(.5, transparent), to(transparent));
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent 50%, transparent);
    background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent 50%, transparent));
    background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent 50%, transparent));
    background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent 50%, transparent));
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 1) 50%, transparent 50%, transparent));
    
    /*
     * masks the whole layer in the way that it becomes transparent
     */
    -webkit-mask-position: 0 0;
    -webkit-mask-size: 100% 100%;
}

.timeline-custom-band .timeline-event-label.undefined-start + .timeline-event-tape:before {
    margin-left: -100px;
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
       color-stop(0.00,  rgba(0,0,0,0)),
       color-stop(1.00,  rgba(0,0,0,1)));
}
.timeline-custom-band .timeline-event-label.undefined-end + .timeline-event-tape:after {
    margin-left: 00px;
    -webkit-mask-image: -webkit-gradient(linear, left center, right center, 
       color-stop(0.00,  rgba(0,0,0,1)),
       color-stop(1.00,  rgba(0,0,0,0)));
}